html {
  scroll-snap-type: y mandatory;
}
body {
  padding: 0px;
  margin: 0px;
}
::-webkit-scrollbar {
  display: none;
}

/* *************************************header section***************************** */
header {
  position: fixed;
  top: 0rem;
  width: 100vw;
  z-index: 100000000;
  background-color: #333333;
  background-color: transparent;
}
.navbar-brand {
  color: white !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  border-radius: 3px;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  font-weight: 600;
}

/* ******************************Hero Section*********************************** */
section {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.hero {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.intro {
  /* border: 1px solid red; */
  flex: 0.4;
  height: 60vh;
  position: relative;
}
.intro > p {
  color: white;
}
.intro > h1 {
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 700;
}
.intro > h1 > span {
  color: orange;
}
.profile {
  flex: 0.6;
  height: 70vh;
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile > img {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.resume {
  position: absolute;
  margin: 5rem 5rem;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.2rem;
  color: white;
  background-color: orange;
  transition: all 0.5s ease;
}
.resume:hover {
  color: white;
  transform: scale(1.3);
}

/* ****************************About Us section**************************** */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 18, 18);
  color: white;
}
.about-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
  padding: 0.8rem;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 90%;
  width: 100%;
  /* border: 1px solid red; */
}
.profile-img {
  width: 30%;
  height: 90%;
  border-radius: 8rem 1rem 1rem 8rem;
  overflow: hidden;
  /* border: 1px solid red; */
}
.profile-img > img {
  width: 100%;
  height: 100%;
}
.about-intro {
  padding: 0.5;
  width: 50%;
  height: 90%;
  /* border: 1px solid red; */
}
.about-intro > p {
  text-align: justify;
}
.about-intro > h5 > span {
  color: orange;
}
.about-table {
  width: 100%;
  border: #d10000;
}
td {
  padding: 0.4rem;
}

/* *****************************Value preposition section************************************* */
.value {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
}
.value-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
  height: 80vh;
  /* border: 1px solid red; */
  padding: 0.8rem;
}
.value-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 90%;
  width: 100%;
  /* border: 1px solid red; */
}
.value-card {
  display: flex;
  height: 45%;
  width: 45%;
  border-radius: 0.5rem;
  /* border: 1px solid red; */
  overflow: hidden;
}
.value-text {
  width: 65%;
  height: 100%;
  /* border: 1px solid yellow; */
}
.value-text-heading {
  color: orange;
  font-weight: 600;
}
.value-text-body {
  text-align: justify;
}
.value-img {
  width: 35%;
  height: 100%;
  /* border: 1px solid blue; */
}
.value-img > img {
  width: 80%;
  height: 80%;
}

/* ******************************Skills Section************************************* */

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131212;
  color: white;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 80%;
  height: 80%;
  /* border: 1px solid red; */
  padding: 0.8rem;
  overflow-y: scroll;
}
.Skills-card {
  width: 12rem;
  height: 12rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.Skills-card > img {
  width: 12rem;
  height: 12rem;
}
.Skills-card:hover {
  transform: scale(1.1);
}

/* *******************************Certificates Section******************************** */
.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  /* background-color: rgb(55, 4, 103); */
  background-color: #000000;
  color: white;
}
.certificate-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  flex: 0.2;
  overflow-y: scroll;
  padding: 0.2rem;
  border-radius: 0.5rem;
  height: 80vh;
  min-width: 12rem;
}
.certificate-list::-webkit-scrollbar {
  display: none;
}
.certificate-list > a {
  text-decoration: none;
  color: black;
}
.certificate-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 90%;
  height: 17rem;
  border-radius: 0.5rem;
  background-image: url(./Assets/icon/file.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Soft_Skills{
  background-image: url(./Assets/Certificates/Certificate-img/SoftSkills.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Presentaion{
  background-image: url(./Assets/Certificates/Certificate-img/Presentation.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.certificate-title {
  rotate: 1 0 0 90deg;
}
.certificate-card:hover .certificate-title {
  transform: rotateX(-90deg);
}
.certificate-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 8rem;
  height: 8rem;
  background-color: rgb(53, 53, 53);
  opacity: 0.8;
  clip-path: circle(50% at 50% 50%);
  transition: all 0.3s ease-out;
}
.certificate-Preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  height: 100%;
}
.certificate-Preview > a {
  font-weight: 800;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.certificate-show {
  flex: 0.75;
  height: 80vh;
  border-radius: 0.5rem;
  overflow: hidden;
}
.certificate-show::-webkit-scrollbar {
  display: none;
}

/* ********************************Project Section************************************ */
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  background-color: #131212;
  color: white;
}
.project-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  flex: 0.2;
  overflow-y: scroll;
  padding: 0.2rem;
  border-radius: 0.5rem;
  height: 80vh;
  min-width: 12rem;
}
.project-list::-webkit-scrollbar {
  display: none;
}
.project-list > a {
  text-decoration: none;
  color: black;
}
.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  width: 90%;
  height: 17rem;
  border-radius: 0.5rem;
}
.project-title {
  rotate: 1 0 0 90deg;
}
.project-card:hover .project-title {
  transform: rotateX(-90deg);
}
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 8rem;
  height: 8rem;
  background-color: rgb(53, 53, 53);
  opacity: 0.8;
  clip-path: circle(50% at 50% 50%);
  transition: all 0.3s ease-out;
}
.project-Preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  height: 100%;
}
.project-Preview > a {
  font-weight: 800;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.project-show {
  flex: 0.75;
  height: 80vh;
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-show::-webkit-scrollbar {
  display: none;
}
.Cookpal {
  background-image: url(./Assets/Project/cookpal.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Blinkit {
  background-image: url(./Assets/Project/Blinkit.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Jira {
  background-image: url(./Assets/Project/Jira.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Acciojob {
  background-image: url(./Assets/Project/Acciojob.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.FoodDelivery {
  background-image: url(./Assets/Project/FoodDelivery.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Spotify {
  background-image: url(./Assets/Project/Spotify.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.Timer {
  background-image: url(./Assets/Project/Timer.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.GoogleSheet {
  background-image: url(./Assets/Project/GoogleSheet.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* Hire Me Button */
.Hire {
  display: none;
  padding: 10px 15px;
  position: fixed;
  top: 10px;
  right: 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 0.2rem;
  color: white;
  background-color: orange;
  transition: all 0.5s ease;
}
.Hire:hover {
  color: white;
  font-weight: 700;
  transform: scale(1.1);
}

/* ******************************Contact Section***************************************** */
#Contact {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  margin-top: 2rem;
  border-radius: 5px;
  width: 60vw;
  height: 80vh;
  background-color: white;
}
.Get_in_Touch{
  width: 50%;
  height: 65vh;
  margin-left: -5rem;
  border: none !important;
  padding: 1.5rem;
  background-color: orange;

}
.photo-album{
  width: 100%;
  height: 20%;
}
.Get_in_Touch >ul>li{
  list-style-type: none;
  margin: 1rem;

}
.photo-album>ul>li{
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 2rem;
  text-align: center;
}
.Form-area{
  width:55%;
  height: 80%;
  margin-left: 3rem;
}
#contactForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  text-align: center;
  padding: 1rem;

}
input[type=text], input[type=email],input[type=submit],textarea{
padding: 10px;
width: 90%;
border-radius: 0.3rem;
border: 1px solid orange;
}
input[type=submit]{
  background-color: orange;
}
.Social-Icon{
  width: 100%;
  height: auto;
}
.photo-album>ul>:hover{
  box-shadow: 0px 0px 10px black!important;
  background-color: orange;
}



/* ******************************************************************************************** */

@media only screen and (max-width: 768px) {
  /* *************************************header section***************************** */
  .navbar-collapse {
    background-color: rgba(46, 44, 44, 0.705);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
  }
  .navbar-brand {
    color: white !important;
  }
  .nav-link {
    font-weight: 600;
    text-shadow: 3px 3px 5px black;
  }
  .nav-link:hover {
    text-decoration: none;
    text-underline-offset: 0em;
    font-weight: 500;
  }

  /* ***********************************Hero section******************************* */

  section {
    padding: 0.5rem;
  }
  .hero {
    flex-direction: column;
  }
  .inner-section {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }
  .profile {
    margin-top: 2.5rem;
    flex: 0.4;
    order: 1;
  }
  .intro {
    flex: 0.6;
    order: 2;
    width: 100%;
    text-align: center;
  }
  .intro > p {
    font-size: 1rem;
  }
  .intro > h1 {
    font-size: 1.5rem;
  }
  .resume {
    position: static;
    margin: 0rem;
    margin-top: 12rem;
  }

  /* ******************************About Section************************************* */
  .about {
flex-direction: column;
  }
  .about-container {
    margin-top: 2rem;
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    padding: 0rem;
  }
  .details {
    font-size: 0.8rem;
    flex-direction: column;
    gap: 0rem;
    /* border: 1px solid red; */
  }
  .profile-img {
    display: none;
  }
  .about-intro {
    padding: 0.2rem;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    overflow-y: scroll;
  }
  .about-table,  .about-intro>h5,hr {
    /* display: none; */
    font-size: 0.4rem;
  }

  /* ******************************Value Section************************************* */

  .value-container {
    margin-top: 3rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 90vw;
    height: 80vh;
    /* border: 1px solid red; */
    padding: 0rem;
    overflow-y: scroll;

  }
  .value-details {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    /* border: 1px solid red; */
  }
  .value-card {
    display: flex;
    height: 90%;
    width: 100%;
    border-radius: 0.5rem;
    /* border: 1px solid red; */
    overflow: hidden;
  }
  .value-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .value-text-body {
    display: none;
  }

  

  /* ******************************Skills Section************************************* */
  .skills-container {
    margin-top: 0rem;
    gap: 0.5rem;
    width: 100%;
    height: 90%;
  }
  .Skills-card {
    width: 5rem;
    height: 5rem;
    border-radius: 0.2rem;
  }
  .Skills-card > img {
    width: 5rem;
    height: 5rem;
  }

  /* ********************************Project Section************************************ */
  .project {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .project-list {
    margin-top: 2.3rem;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    flex: 0.3;
    padding: 0.1rem;
    width: 100%;
  }
  .project-card {
    height: 90%;
    width: 5rem;
  }
  .project-title {
    width: 4rem;
    height: 4rem;
  }
  .project-Preview {
    width: 80%;
    height: 100%;
  }
  .project-Preview > a {
    font-size: 0.7rem;
    font-weight: 500;
    font-size: rem;
  }
  .project-show {
    flex: 0.65;
    width: 100%;
  }

  /* *******************************Certificates Section******************************** */
  .certificate {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .certificate-list {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    flex: 0.25;
    padding: 0rem;
    width: 100%;
  }
  .certificate-card {
    height: 80%;
    width: 4rem;
  }
  .certificate-title {
    width: 3rem;
    height: 3rem;
  }
  .certificate-Preview {
    width: 80%;
    height: 100%;
  }
  .certificate-Preview > a {
    font-size: 0.7rem;
    font-weight: 500;
    font-size: rem;
  }
  .certificate-show {
    flex: 0.;
    width: 100%;
  }

  /* ******************************Contact Section***************************************** */
#Contact {
  flex-direction: column;
}
.box{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 2rem;
  width: 90vw;
  padding: 0.5rem;
  overflow-y: scroll;
}
.Get_in_Touch{
  width: 90%;
  height: auto;
  margin: 0;
  padding: 1.5rem;
  background-color: orange;
  font-size: 0.8rem;
}
.Form-area{
  height: auto;
  width:90%;
  margin: 0rem;
  margin-top: 2rem;
  text-align: center;
}
#contactForm{
  width: 100%;
}

input[type=submit]{
  background-color: orange;
}
.Social-Icon{
  width: auto;
  height: auto;
  margin: 0;
}



}
